{% extends "layout.html" %}
{% block content %}
	<div class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<div id="titulo">INFOMATICA</div>
				<!-- Header -->
					<header id="header">
						<h1><a href="index.html"><strong>INFOMATICA</strong> PLATSERVICES</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">CONTACTO</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="css/images/fulls/01.jpg" class="image"><img src="images/smalls/02.jpg" alt="" /></a>
							<h2>ANDROID: cómo ubicar mi teléfono con tan solo aplaudir</h2>
							<p>Los teléfonos móviles se han convertido en herramientas muy importantes y de uso diario para todas las personas, pero cuando uno no encuentra su móvil dentro de casa porque está en vibrador, se vuelve un dolor de cabeza.
								En esta oportunidad le enseñaremos un truco muy sencillo que ayudará a encontrarlo realizando simples aplausos. Para esto hay que instalar una aplicación denominada Clap to find (Aplaude para encontrar).
								Cómo encontrar el móvil con aplausos
								Primero, diríjase a la Google Play Store de Android.
								En la barra de búsqueda escriba lo siguiente: “Clap to find” y luego descargue la app.
								Ahora, ábrala y active el botón que está en el centro: rojo significa apagado y verde encendido.
								Después en la parte inferior presionar la opción “Clap Detection Sensitivity”.
								Colocar una sensibilidad del 30 o 40 por ciento porque con cualquier ruido la app la podría reconocer como aplauso.
								Mientras más baja la sensibilidad más fuerte tiene que aplaudir.
								Finalmente, en el apartado “Alert Settings” configure el volumen de la alarma, la vibración, qué tiempo quiere que suene y si desea que se active el flash. </p>
						</article>

						<article class="thumb">
							<a href="images/fulls/03.jpg" class="image"><img src="images/smalls/04.jpg" alt="" /></a>
							<h2>Por qué miles de celulares rotos de África son recolectados y enviados a Europa</h2>
							<p>Eric Arthur no tiene mucho tiempo para el ocio: pasa la mayor parte de los fines de semana conduciendo por Ghana para recoger teléfonos móviles rotos.

								Desde su casa en Costa del Cabo, en el sur del país, puede recorrer más de 160 km en un fin de semana visitando talleres de reparación y desguaces, o cualquier lugar que tenga un suministro decente de dispositivos rotos.
								En un buen fin de semana puede recolectar 400 de ellos. Además, maneja un equipo de seis personas que hacen lo mismo en otras partes del país. Entre ellos esperan recolectar alrededor de 30.000 teléfonos este año.
								Arthur y sus agentes pagan una pequeña cantidad a los vendedores por cada celular, entre 2,5 y 2,7 cedis de Ghana (unos US$0,44).
								A pesar de que no se pueden reparar, en ocasiones deben persuadir a la gente para los entregue. </p>
						</article>

						<article class="thumb">
							<a href="images/fulls/05.jpg" class="image"><img src="images/smalls/06.jpg" alt="" /></a>
							<h2>Facebook obligará a algunos usuarios a activar la autenticación en dos pasos</h2>
							<p>Las redes pueden ser un gran aliado para todos aquellos que quieran que su mensaje cale; ya sean usuarios corrientes, políticos o periodistas. Sin embargo, esas mismas plataformas pueden terminar convirtiéndose en un problema importante si no se implementan medidas adecuadas para su protección. Facebook Protect, el programa de seguridad avanzada de la red social, ha anunciado que comenzará a obligar a los internautas que más riesgo tienen de ser objetivo de ciberataques a que implementen la autenticación de dos factores, una medida que extenderá a nivel global en los próximos meses.
								«La autenticación de dos factores, en particular mediante el uso de aplicaciones de autenticación de terceros , mejora significativamente la seguridad de sus cuentas en línea.
								En este momento, cualquiera puede inscribirse en la autenticación de dos factores y todos deberían hacerlo», ha afirmado Nathaniel Gleicher, jefe de política de seguridad de la plataforma en un comunicado. A su vez, llama la atención sobre el hecho de que esta funcionalidad, que permite mantener el control de una cuenta incluso si su contraseña se filtras, «ha sido históricamente infrautilizada en Internet», hasta «por personas que tienen más probabilidades de ser atacadas».</p>
								  
						</article>

						<article class="thumb">
							<a href="images/fulls/07.jpg" class="image"><img src="images/smalls/08.jpg" alt="" /></a>
							<h2>El 93% de los españoles tienen problemas con el WiFi: ¿cómo pueden mejorar su conexión?</h2>
							<p>Internet es una herramienta casi indispensable en el día a día de cada persona. Ya sea para consultar las noticias, ver películas o series, estar en contacto con amigos y familiares o jugar a videojuegos. Por eso es normal que el usuario se agobie cuando se da cuenta de que su conexión no funciona correctamente. Algo que, de acuerdo con un reciente estudio de la firma tecnológica Devolo, es bastante habitual. En concreto, un 93,2% de los encuestados por la empresa sostiene que ha tenido problemas con el WiFi en algún momento y, además, la mayoría de ellos, el 61,3%, afirma que no sabe cuáles son las razones por las que esto sucede.
								Sea como fuere, hay varios procedimientos que el usuario puede seguir para mejorar la calidad de su conexión doméstica.
								A continuación recogemos algunos de los más importantes.
								Apaga y enciende
								Es el método más sencillo y muchas veces el más eficaz. La causa del mal funcionamiento puede estar en un problema de línea, o de comunicación con tu ISP (Proveedor de Servicios de Internet). Por ello, se recomienda apagar el router -pulsando el botón de encendido- y volver a encenderlo después de unos minutos. También puedes probar a desenchufar el aparato de la red eléctrica y conectarlo 2-3 minutos después. Si al reiniciar el problema persiste, puedes consultar el manual del módem para ver si hay algún tipo de fallo y en caso de que este sea por el mal funcionamiento del router, deberás sustituirlo o, si lo cubre la garantía, pedir una reparación.
								Comprueba la conexión
								Para conocer el motivo de la avería, puedes intentar conectarte a internet tanto desde tu ordenador como desde tu 'smartphone'. Si la conexión no funciona en ambos dispositivos, lo más probable es que el problema sea del router o de la compañía. Sin embargo, si la conexión sólo funciona en uno de los dispositivos, lo más probable es que el problema sea del propio aparato, por lo que deberás reiniciarlo e intentar restablecer la conexión con el router.								
								Fíjate en la recepción
								Si la conexión junto al router es buena, pero se debilita cuando te alejas de él, puedes intentar optimizar la ubicación del router acercando este a donde suelas trabajar, estudiar o ver la televisión. Si tu casa es grande, una opción puede ser instalar amplificadores WiFi para aumentar el alcance de la señal.								
								Tarjeta de red actualizada
								El problema también puede residir en la tarjeta de red del dispositivo en cuestión. Puedes solucionarlo yendo a la configuración del ordenador, desactivando y volviendo a activarla. Puedes comprobar si los controladores de la tarjeta han sido actualizados en el administrador de dispositivos de Windows, y en caso de que no lo estén, busca una actualización e instálala. Del mismo modo, en los dispositivos Mac, utilizando la función de 'Actualización de Software' puedes comprobar si hay alguna actualización disponible para el sistema operativo. Si la tarjeta de red es antigua o está estropeada, una posibilidad puede ser la de comprar una externa, lo que mejoraría la recepción de la señal wi-fi por parte del ordenador.
								
								Realiza un diagnóstico de red
								En los sistemas Windows y Mac existen funciones que permiten realizar un diagnóstico de red que permite buscar errores y corregirlos automáticamente. En Windows basta con hacer 'clic' con el botón derecho del ratón sobre el icono de conexión en la pantalla y luego ejecutar la opción 'Solución de problemas'. Por su parte, los usuarios de MAC deberán cerrar todas las aplicaciones abiertas e intentar conectarse a la red Wi-Fi manteniendo pulsada la tecla Opción. Una vez hecho esto, tendrán que hacer clic en el icono de estado de la red Wi-Fi en la barra de menú y elegir la opción 'Abrir Diagnóstico Inalámbrico'.								
								
								Ethernet y cambiar canal
								Otra prueba útil que merece la pena realizar en caso de que los problemas sean persistentes es evaluar el estado de la red conectando el ordenador al router directamente con un cable Ethernet: si esta operación mejora o restablece la conexión, es muy probable que haya problemas con tu tarjeta de red WiFi o que algo interfiera con tu señal.								
								En este último caso, la solución es cambiar el canal Wi-Fi de tu router introduciendo la dirección IP del mismo en la barra de direcciones, que suele corresponder a 192.168.1.1, y acceder al menú de configuración del dispositivo con las credenciales correspondientes (Admin y password). Después, bastará con cambiar en la configuración el canal de radio de la banda de frecuencia de 2,4 GHz (eligiendo uno entre 1, 6 y 11) y/o el canal de radio de la banda de frecuencia de 5 Ghz. Es importante saber que no todos los routers tienen el mismo menú de configuración pero suelen ser muy similares entre sí.
								
								Test de velocidad
								En caso de que todo funcione bien a nivel de hardware, la lentitud de la conexión puede atribuirse a tu compañía. Lo ideal es verificar la velocidad exacta de tu conexión a Internet realizando un test de velocidad, tanto en descarga como en subida. Cuanto más altas sean estas velocidades, mejor será el rendimiento de la red. La velocidad de descarga es siempre superior a la de subida y, en general, la velocidad media de la fibra óptica FTTH puede alcanzar hasta 2500 Mbps en descarga y 300 Mbps en subida, mientras que para un ADSL antiguo es de un máximo de 20 Mbps en descarga y 1 en subida. Si tienes una conexión ADSL antigua, puedes plantearte cambiar a una fibra óptica más rápida.
								
								Cambia la DNS
								El Sistema de Nombres de Dominio (DNS) resulta a simple vista un tema muy técnico, pero en realidad es la herramienta básica de la navegación web. Elegir los mejores servidores DNS permite optimizar la navegación y aumentar la velocidad. Entre los disponibles, se recomienda añadir los siguientes códigos en la configuración del navegador (en la sección DNS): 8.8.8.8 y/o 8.8.8.1 que corresponden a los DNS de Google, haciendo que los servidores del buscador estadounidense ayuden a tu navegación.

								Vacía la caché
								Para optimizar los tiempos de resolución del DNS, los sistemas operativos como Windows y MacOS memorizan las direcciones ya visitadas y las ya resueltas. Esta memoria se llama caché DNS. Puede ser útil vaciar la caché DNS, o borrar los datos almacenados, tanto por ciberseguridad como por velocidad de navegación.
								
								Comprueba si el router es el adecuado
								No todo el mundo utiliza internet de la misma manera y no todos necesitamos los mismos recursos. Esto es que no consumen el mismo ancho de banda quienes se limitan a ver unas cuantas películas y hacer un par de videollamadas al día, que quienes utilizan internet para teletrabajar de manera continua y necesitan enviar archivos pesados. El número de dispositivos conectados también puede marcar la diferencia, por lo que si tienes varios dispositivos conectados a tu línea Wi-Fi y experimentas continuas caídas en el rendimiento de tu conexión, es posible que tengas que empezar a considerar la compra de un módem de gama alta para satisfacer tus altos consumos.
								</p>
						</article>

						<article class="thumb">
							<a href="images/fulls/09.jpg" class="image"><img src="images/smalls/10.jpg" alt="" /></a>
							<h2>¿Por qué deberías regalar tecnología reacondicionada estas Navidades?</h2>
							<p>
								Los residuos electrónicos alcanzarán los 57,4 millones de toneladas métricas a finales de año, un peso mayor que el de la Gran Muralla china. La manera de consumir tecnología debe cambiar. La electrónica renovada de Back Market prolonga la vida de miles de dispositivos, para apostar por un consumo más responsable y respetuoso con el medio ambiente
								La fabricación y producción de los aparatos electrónicos genera la mitad de las emisiones de carbono del sector electrónico, en total el 4% de las mundiales. La Organización de Naciones Unidas (ONU) lleva tiempo advirtiendo que “la forma en que producimos, consumimos y eliminamos los residuos electrónicos no es sostenible”. La electrónica reacondicionada ayuda a reducir la cantidad de desechos electrónicos. También a disminuir la huella ecológica de estos dispositivos, tanto la que se produce en la fabricación como la que se genera en su destrucción.
								Back Market, el primer market place dedicado en exclusiva a la electrónica reacondicionada, extiende la vida útil de miles de aparatos electrónicos. Vende tecnología como nueva —todos los productos son cien por cien funcionales— a precios de segunda mano. Su motivación principal es luchar contra la cantidad de toneladas de residuos electrónicos que se generan cada año. Así lo explica Vianney Vaute, cofundador de la compañía: “El mayor reclamo del reacondicionado no es el precio, siempre por debajo de los productos nuevos, sino el ahorro conseguido en materias primas,
								residuos electrónicos evitados, consumo energético y emisiones de CO₂″.</p>
						</article>

						<article class="thumb">
							<a href="images/fulls/11.jpg" class="image"><img src="images/smalls/12.jpg" alt="" /></a>
							<h2>¿Qué hace un enchufe inteligente? Así es el más vendido en Amazon por menos de diez euros y 9.000 valoraciones</h2>
							<p>
								La última evolución con respecto a los temporizadores analógicos de toda la vida son los llamados enchufes inteligentes. Los primeros hacen funciones de temporizadores y, aunque efectivos, se encuentran limitados y acaban dando algunos problemas con el paso del tiempo. Sin embargo, los enchufes inteligentes como TP-Link TAPO P100 (el más vendido en Amazon) son más avanzados: solo necesitan de una red wifi para funcionar y los configuramos con el móvil por Bluetooth.
								
								Este modelo de enchufe por wifi reúne 9.000 valoraciones en la plataforma y una nota media sobresaliente: 4,6 sobre 5 estrellas. Su tamaño mini también se nota en el precio, que se sitúa por debajo de los 10 euros.
								
								Pero, ¿qué opinan los usuarios que ya lo han probado? Estos destacan hasta seis características principales, como la comodidad, la facilidad en el uso, el control remoto, lo nada complejo que resulta instalarlo, su integración con Alexa y, por supuesto, la relación calidad-precio: “Lo puedes controlar al minuto mediante la app del teléfono y nunca se atrasa o modifica”, dice uno de ellos.
								¿Qué funciones tiene el enchufe inteligente TP-Link TAPO P100?
								Pasamos a describiros su estética y todo lo que se puede hacer con él. Lo primero en lo que nos fijamos es en su diseño compacto: las dimensiones están pensadas para no bloquear tomas de corriente eléctrica adyacentes. Además, cuenta con extremos redondeados, está fabricado con materiales ignífugos y la carcasa evita posibles descargas eléctricas. 
								En segundo lugar, el enchufe inteligente wifi dispone de control remoto (para encender y apagar al instante los dispositivos conectados), función de programación y también de temporizador (se pueden crear varias listas a la vez). Incorpora también un modo ausente cuyo objetivo es encender y apagar las luces de casa o la mini cadena mientras no estamos en casa. Y, cómo no, todo ello se controla con la voz mediante Alexa o el asistente de Google.</p>
						</article>

						<article class="thumb">
							<a href="images/fulls/13.jpg" class="image"><img src="images/smalls/14.jpg" alt="" /></a>
							<h2>Altavoces Echo Dot, cables HDMI o ratones inalámbricos: ocho productos de tecnología con hasta 150.000 valoraciones en Amazon</h2>
							<p>Pasados los eventos Black Friday y Cyber Monday, nos adentramos en uno de los meses más especiales debido a la cantidad de fiestas familiares y de amistades que se llevan a cabo. En muchas de ellas, se intercambian regalos y unas de las categorías más esperadas cada año es la tecnología, los gadgets o dispositivos electrónicos para la casa con unas funciones muy específicas. Por ello, en EL PAÍS Escaparate nos hemos centrado en ocho productos superventas con una nota media y popularidad fuera de toda duda en Amazon: hasta 150.000 valoraciones.

								Hablamos de artículos tecnológicos que, en muchos casos, son auténticos referentes en sus campos: como le ocurre al altavoz inteligente Echo Dot de Amazon, a la tarjeta de memoria SD de la firma SanDisk o al disco duro externo de la marca Seagate. Algunos de ellos, además, cuentan con descuento e, incluso, están marcando precios mínimos históricos en la plataforma. [*Recuerda que si eres usuario de Amazon Prime, todas las compras tienen gastos de envío gratuitos. Amazon ofrece un período de prueba gratuito durante 30 días].
								
								Cable HDMI 2.0 de alta velocidad Ultra HD, de AmazonBasics
								Un producto muy polivalente que permite conectar todo tipo de consolas, smart TV, reproductores Blue Ray, ordenadores y otros dispositivos electrónicos. Ofrece una señal de vídeo clara y potente y cuenta con estándar HDMI 2.0: ampliando la banda ancha hasta 18 GB/s, es capaz de emitir a 4K y también ofrecer imagen en 3D. En el terreno del audio, ofrece una sincronización dinámica entre este y el vídeo.</p>
						</article>

						<article class="thumb">
							<a href="images/fulls/15.jpg" class="image"><img src="images/smalls/16.jpg" alt="" /></a>
							<h2>Los Chromebooks se pueden convertir en máquinas gaming con esta novedad de Steam</h2>
							<p>No hará falta comprar un ordenador Windows para ejecutar juegos de Steam, gracias a la última novedad que ya está siendo experimentada en Chrome OS.

							   	Los Chromebooks son ordenadores portátiles que ejecutan el sistema operativo de Google, Chrome OS; aunque fueron diseñados para usar sólo aplicaciones web, con el tiempo han evolucionado y ahora también es posible usar apps de Android. Aún así, no son los preferidos de los jugadores, que usan Windows por la inmensa cantidad de juegos disponibles.
								Eso puede estar a punto de cambiar. Como ha descubierto Android Police, la última versión beta del sistema incluye referencias a 'Borealis', que es el proyecto para crear una versión de Steam para Chrome OS; en realidad, no es una sorpresa, ya que lleva años en desarrollo, pero llevaba mucho tiempo sin dar señales de vida.
								Steam es la plataforma online más popular para jugar en Windows, capaz de alcanzar más de 20 millones de usuarios concurrentes, y la opción número uno para los jugadores; pero su desarrolladora, Valve, siempre ha explorado otras plataformas, incluida Linux para la que lanzó su propio sistema, SteamOS.
								En los últimos años, ha potenciado el desarrollo de Proton, una capa que permite ejecutar programas de Windows en Linux, y que será usada en la consola portátil Steam Deck. Como Chrome OS está basado en Linux, esta versión de Steam nos podría permitir disfrutar de juegos de Windows en nuestro Chromebook, con un alto grado de compatibilidad.
								Sin embargo, eso no significa que de repente nuestro Chromebook de 200 euros sea una consola de videojuegos moderna. Los modelos más baratos no son lo suficientemente potentes como para ejecutar los últimos juegos; pero al menos, podríamos ejecutar títulos viejos o poco exigentes. Además, esto puede fomentar el lanzamiento de nuevos Chromebooks con hardware más puntero, si se pueden vender como compatibles con los últimos juegos.
								Con el crecimiento del mercado gaming, este puede ser el lanzamiento más importante de la historia de la plataforma de Google, y motivo de miedo para Microsoft que puede perder uno de los grandes motivos por los que comprar un portátil Windows.
							</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/17.jpg" class="image"><img src="images/smalls/18.jpg" alt="" /></a>
							<h2>Una tableta ideal para empezar a dibujar con tu ordenador: probamos la One by Wacom</h2>
							<p>Si queremos dar rienda suelta a nuestra creatividad, una de las opciones más baratas viene de la mano de Wacom, con una tableta muy barata pero que ofrece una buena experiencia.
								Las tabletas son una herramienta imprescindible para muchos creadores de contenido, desde aficionados a profesionales; sin embargo, también pueden llegar a ser muy caras. Si nos fijamos en el catálogo de la propia Wacom, encontramos modelos que superan los 3.500 euros.
								Pero que semejantes cifras no nos mareen; en realidad, puedes empezar a crear con una tableta mucho más sencilla y barata, y a partir de ahí, decidir si quieres dar el salto a modelos más punteros.
                                <br>
								<b>Una tableta para principiantes</b> <br>
								La One by Wacom es el modelo de la marca dirigido a quienes quieren explorar esta experiencia. Destaca por partir de un precio de sólo 39,91 euros para el modelo más pequeño; nosotros hemos podido probar el modelo mediano, que cuesta 59,91 euros a cambio de un mayor espacio útil.
								Hablo en plural porque, en esta ocasión, he necesitado ayuda. Bien sabe todo el que me conoce que no soy la persona más apropiada para un trabajo creativo, así que solicité el apoyo de mi hermano, más ducho en estas cuestiones. Las conclusiones son muy interesantes: esta es una tableta sorprendente para el precio que tiene, pero no está falta de limitaciones.
								Estamos ante una tableta de un tamaño algo reducido, pese a ser la "mediana"; con un ancho de 277 mm, el primer problema que te encontrarás si siempre has dibujado en papel es que no tiene el tamaño de un folio. Es algo a lo que hay que acostumbrarse pero, afortunadamente, es uno de los pocos aspectos que rompen un poco la experiencia.
								Y es que, en los demás aspectos, dibujar en la One by Wacom es muy parecido a dibujar en papel. La sensación que ofrece el lápiz al pasar por la superficie es rugosa, simulando la sensación del lápiz pasando por el papel. Esto no se ha implementado sólo por cuestión de gustos, sino que es funcional: esta rugosidad otorga un mayor control sobre el trazo, evitando que nos pasemos de frenada y tengamos que corregir.
								El lápiz incluido con la tableta también ayuda, siendo ligero pero no tanto como para que parezca que estamos usando una pluma. Eso sí, un detalle importante que debemos tener en cuenta es que nuestro trazo se detecta incluso si la punta del lápiz no roza directamente con la superficie.
								Dibujar y escribir con el lápiz de la One by Wacom es intuitivo, principalmente porque nuestros gestos se traducen directamente a la aplicación que estemos usando; traduce perfectamente los movimientos de nuestra mano, y eso ayuda a eliminar barreras. No requiere baterías, y de ahí que se haya controlado tanto el peso.
								Otro aspecto que también tendrá que 'estudiar' el principiante es la diferencia de grosor dependiendo de la fuerza que hagamos; en nuestras pruebas, la diferencia se ha detectado correctamente, resultando en un trazo más grueso o más fino. Es una de las principales herramientas que tendrás a tu mano, además de los dos botones incluidos en el propio lápiz para iniciar funciones de la app que estemos usando; aunque se echa en falta un botón más en la parte superior.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/19.jpg" class="image"><img src="images/smalls/20.jpg" alt="" /></a>
							<h2>Apple quiere un futuro en el que todos tus dispositivos se puedan cargar entre sí</h2>
							<p>Apple está desarrollando un nuevo cargador inalámbrico, capaz de cargar la batería de varios dispositivos al mismo tiempo que, a su vez, serían capaces de recargarse mutuamente.
								La compañía de la manzana tiene como objetivo deshacerse de los cables completamente, con dispositivos con un diseño más limpio y compacto; para ello, tiene que mejorar su estándar de carga inalámbrica, MagSafe, que presentó con el iPhone 12.
								Según Mark Gurman de Bloomberg, este camino pasará por desarrollar un nuevo cargador, uno que sea capaz de cargar todos nuestros dispositivos a la vez. Una idea que no es precisamente nueva, ya que en el 2017 Apple anunció la AirPower para cumplir este propósito; sin embargo, y después de muchos retrasos, Apple la canceló dos años después por problemas en el diseño.
								La gran diferencia del nuevo modelo, además de la compatibilidad con MagSafe, sería la carga inalámbrica a distancia, gracias a una nueva tecnología en desarrollo para los futuros iPhone, Apple Watch y AirPods. A diferencia de la carga actual, basada en el contacto de dos superficies, la nueva permitiría que hubiese una cierta distancia entre los dos dispositivos, aunque no está claro de cuánto espacio estamos hablando.
								Esta función vendría de la mano de la carga inalámbrica inversa; es decir, que el iPhone sea capaz de recargar otros dispositivos como los AirPods. Según Bloomberg, Apple ha imaginado un futuro en el que todos sus productos se puedan cargar mutuamente; de esta manera, no tendríamos que llevar un cargador encima, podríamos pasar la energía de un dispositivo a otro dependiendo de nuestras necesidades.
								Apple no ha ocultado que quiere deshacerse completamente de los cables, para crear diseños más compactos y elegantes. También le puede ayudar a evitar la última decisión de la Comisión Europea, que ordenará a los fabricantes a usar USB-C como puerto de carga; de manera crucial, la carga inalámbrica se queda fuera de estas reglas, lo que permitirá a Apple seguir ofreciendo un producto diferente al resto del mercado.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/21.jpg" class="image"><img src="images/smalls/22.jpg" alt="" /></a>
							<h2>Microsoft recupera las tácticas de Internet Explorer para obligarte a usar Edge</h2>
							<p>Desde ventanas emergentes a complicadas configuraciones, los últimos cambios de Microsoft para fomentar el uso de Edge están recibiendo duras críticas de quienes temen que la compañía vuelva a ser como era.
								Desde que Satya Nadella está al frente de Microsoft, el gigante no es el mismo; ya no es un vendedor de software, obsesionado por vendernos Windows, sino un proveedor de servicios. Una estrategia que está dando frutos, después de adelantar a Apple como la cotizada más valiosa del mundo.
								Pero en esta nueva estrategia, parece haber cosas que no han cambiado. Microsoft sigue usando tácticas de dudosa ética para forzar el uso de sus productos; en concreto, su navegador web Edge. Sólo en el último mes, Microsoft ha implementado varios cambios que están atosigando a los usuarios para cambiarse de navegador.
								Todo empezó con el lanzamiento de Windows 11, el nuevo sistema que, por supuesto, tiene a Edge como navegador por defecto; hasta ahí, todo normal, el problema es que cambiar el navegador por defecto es más difícil que nunca, con multitud de opciones que tenemos que cambiar en la configuración del sistema.
								Pero incluso si te molestas en hacer todos esos cambios, Windows 11 ignora tus preferencias y sigue abriendo ciertos enlaces en Edge; en concreto, los que aparecen en los nuevos Widgets, así como en la búsqueda integrada, siempre se abrirán en Edge sin importar cómo hayas configurado el sistema. Es tan molesto que un aficionado lanzó una app, EdgeDeflector, que cambia esto y hace que los enlaces se abran siempre con nuestro navegador preferido; pero Microsoft bloqueó esa app con una actualización, con la excusa de que esos enlaces son una "experiencia" que la compañía ofrece a los usuarios, y no simples enlaces a webs (aunque lo sean). </p>
						</article>
						<article class="thumb">
							<a href="images/fulls/23.jpg" class="image"><img src="images/smalls/24.jpg" alt="" /></a>
							<h2>Las gafas de realidad aumentada de Apple llegarían en el 2022, tan potentes como un Mac</h2>
							<p>Apple finalmente lanzaría sus gafas de realidad aumentada a finales del 2022, con hardware tan potente como un Mac para ofrecer una gran cantidad de funcionalidades.
								Que la compañía de la manzana estaba trabajando en realidad aumentada no era ningún secreto, pero parece que el proyecto ya se encuentra en la fase final de desarrollo, según el analista Min-chi Kuo.
								A diferencia de otros dispositivos similares, las gafas de Apple serían completamente independientes; no tendríamos que conectarlas a un iPhone y de hecho, serían capaces de sustituirlo para muchas tareas. Eso lo conseguiría gracias al avanzado hardware que llevarían, incluyendo dos procesadores diseñados por la propia Apple.
								Uno de estos chips sería tan potente como un Apple M1, el mismo que se estrenó con el MacBook Air y el MacBook Pro el pasado 2020; vendría acompañado de un segundo procesador, que se encargaría en exclusiva de gestionar los sensores integrados en las gafas. Eso es porque son muchos; por ejemplo, Kuo afirma que tienen entre 6 y 8 módulos ópticos para la reproducción continua de vídeo con servicios de realidad aumentada.
								El resto de los componentes serían igual de punteros, como las dos micropantallas OLED desarrolladas por Sony y que ofrecerían una resolución 4K. Estas serían capaces de mostrar información sobre el mundo que nos rodea, implementando partes del mundo virtual en el real; esto sería, por lo tanto, una implementación del famoso 'metaverso' que tanto está dando que hablar en los últimos meses.
								Apple no es nueva precisamente en esta tecnología; es una de las que más ha apostado por realidad aumentada en los iPhone, usando las cámaras para mostrar elementos 3D en la 'vida real'. Y estas gafas serían el siguiente paso, hasta el punto de que Apple se plantea sustituir al iPhone en el futuro con este tipo de dispositivos; según Kuo, no tiene sentido que las gafas requieran usar un iPhone, ya que eso no ayudaría al crecimiento del producto. Unas gafas independientes tendrían su propio ecosistema y la experiencia de usuario más completa. </p>
						</article>
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Información institucional</h2>
									<p>Está a cargo del (de la) viceministro(a) de o IP4 transportes, quien es la autoridad inmediata al (a la) ministro(a) de transportes y comunicaciones y ejerce sus funciones por encargo del ministro, en materia de aeronáutica civil, infraestructura y servicios de transportes de alcance internacional, nacional, regional y local; así como sobre circulación y tránsito terrestre en el marco de la normatividad vigente. En materia de plataformas logísticas las funciones se ejercen en coordinación con los sectores competentes y en el marco de la normativa sobre la materia.</p>
								</section>
								<section>
									<h2>Puede encontrarnos Facebook, Instagram, Twiter y YouTube</h2>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
					
								</p>
							</div>
							<div>
								<section>
									<h2>Estemos en contacto</h2>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<input type="text" name="name" id="name" placeholder="Nombre" />
											</div>
											<div class="field half">
												<input type="text" name="email" id="email" placeholder="Correo electrónico" />
											</div>
											<div class="field">
												<textarea name="message" id="message" rows="4" placeholder="Mensaje"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Enviar" class="primary" /></li>
											<li><input type="reset" value="Borrar" /></li>
										</ul>
									</form>
								</section>
							</div>
						</div>
					</footer>

			</div>
		<!-- Scripts -->		
		</div>
{% endblock %}